@import "../../baseSCSS/variable";

.cardProduct {

  //Discount
  .ant-ribbon {
    padding: 5px 15px;
    border-radius: 0 50px 50px 0;
    top: 0;

    span {
      font-size: calc(7px + 1vmin);
      font-weight: 500;
    }

    &__none {
      display: none;
    }
  }

  //Discount End

  &__rating {
    @include display-flex();
    justify-content: space-between;
    margin-top: 15px;

    ul li {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    &>span svg {
      font-size: calc(15px + 1vmin) !important;
    }
  }

  .ant-card {
    img {
      aspect-ratio: 1/1;
      object-fit: contain;
    }

    .ant-card-meta-description * {
      font-size: calc(9px + 1vmin);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .ant-card-cover {
      padding: 10px;
    }

    .ant-card-body {
      padding: 15px;
    }

    &:hover {

      .ant-card-meta-title span,
      .ant-card-meta-description p span {
        color: $clorTwoHover;
      }
    }

    //Hover product
    .productHover {
      position: absolute;
      top: 0;
      right: 0px;
      background-color: rgba(0, 0, 0, 0.248);
      width: 100%;
      height: 100%;
      border-radius: 10px;
      display: none;
      transition: 0.5s;

      div:last-child {
        margin-right: 22px;
        margin-top: 77px;
        height: 100%;
      }

      button {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 5px 0;
        background-color: $clorTwo;
        animation: backInUp;
        /* referring directly to the animation's @keyframe declaration */
        animation-duration: 0.7s;
        /* don't forget to set a duration! */

        span {
          color: $clorOne;
        }

        &:hover {
          background-color: $clorOne !important;

          span {
            color: white;
          }
        }

        @media screen and (max-width: $mobile-width) {
          width: 35px;
          height: 35px;
        }
      }
    }

    &:hover {
      .productHover {
        @include display-flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
        animation: pulse;
        /* referring directly to the animation's @keyframe declaration */
        animation-duration: 0.7s;
        /* don't forget to set a duration! */
      }
    }

    //END hover product
  }
}