@import "../../baseSCSS/variable";

.breadcrumb {
  a {
    font-size: calc(7px + 1vmin) !important;

  }

  a:hover {
    color: $clorTwoHover;
  }

  .ant-breadcrumb-link {
    color: $clorTwoHover;
  }
}